<a href="https://colab.research.google.com/github/rahulxkunwar/learning_sql/blob/main/Resources/Blank_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [2]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [3]:
%%sql

SELECT table_name
FROM information_schema.tables
WHERE table_schema='public'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

6 rows affected.

         table_name
0  currencyexchange
1          customer
2             sales
3              date
4           product
5             store

In [4]:
%%sql

SELECT
  s.orderdate,
  COUNT(DISTINCT(CASE WHEN c.continent = 'Europe' THEN s.customerkey END)) AS eu_customers,
  COUNT(DISTINCT(CASE WHEN c.continent = 'North America' THEN s.customerkey END)) AS na_customers,
  COUNT(DISTINCT(CASE WHEN c.continent = 'Australia' THEN s.customerkey END)) AS au_customers,
  COUNT(DISTINCT(s.customerkey)) AS total_customers
FROM
  sales s
LEFT JOIN customer c ON s.customerkey = c.customerkey
WHERE
  s.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY
  s.orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

364 rows affected.

      orderdate  eu_customers  na_customers  au_customers  total_customers
0    2023-01-01             6             5             1               12
1    2023-01-02            15            31             3               49
2    2023-01-03            17            44             3               64
3    2023-01-04            28            46             4               78
4    2023-01-05            22            57             8               87
..          ...           ...           ...           ...              ...
359  2023-12-27            26            41             6               73
360  2023-12-28            24            44             7               75
361  2023-12-29            19            32             4               55
362  2023-12-30            25            50            16               91
363  2023-12-31             1             8             0                9

[364 rows x 5 columns]

In [5]:
%%sql

SELECT
  p.categoryname,
  SUM(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN s.quantity * s.netprice * s.exchangerate ELSE 0 END) AS total_net_revenue2022,
  SUM(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN s.quantity * s.netprice * s.exchangerate ELSE 0 END) AS total_net_revenue2023
FROM
  sales AS s
LEFT JOIN product AS p ON s.productkey = p.productkey
GROUP BY
  p.categoryname
ORDER BY
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                    categoryname  total_net_revenue2022  total_net_revenue2023
0                          Audio              766938.21              688690.18
1        Cameras and camcorders              2382532.56             1983546.29
2                    Cell phones             8119665.07             6002147.63
3                      Computers            17862213.49            11650867.21
4                 Games and Toys              316127.30              270374.96
5                Home Appliances             6612446.68             5919992.87
6  Music, Movies and Audio Books             2989297.28             2180768.13
7                   TV and Video             5815336.61             4412178.23

In [6]:
%%sql

SELECT * FROM sales
LIMIT 25

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

25 rows affected.

,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1000,0,2015-01-01,2015-01-01,947009,400,48,1,112.46,98.97,57.34,GBP,0.64
1,1000,1,2015-01-01,2015-01-01,947009,400,460,1,749.75,659.78,382.25,GBP,0.64
2,1001,0,2015-01-01,2015-01-01,1772036,430,1730,2,54.38,54.38,25.00,USD,1.00
3,1002,0,2015-01-01,2015-01-01,1518349,660,955,4,315.04,286.69,144.88,USD,1.00
4,1002,1,2015-01-01,2015-01-01,1518349,660,62,7,135.75,135.75,62.43,USD,1.00
5,1002,2,2015-01-01,2015-01-01,1518349,660,1050,3,499.20,434.30,229.57,USD,1.00
6,1002,3,2015-01-01,2015-01-01,1518349,660,1608,1,65.99,58.73,33.65,USD,1.00
7,1003,0,2015-01-01,2015-01-01,1317097,510,85,3,74.99,74.99,34.48,USD,1.00
8,1004,0,2015-01-01,2015-01-01,254117,80,128,2,114.72,113.57,58.49,CAD,1.16
9,1004,1,2015-01-01,2015-01-01,254117,80,2079,1,499.45,499.45,165.48,CAD,1.16
10,1004,2,2015-01-01,2015-01-01,254117,80,1633,1,8.33,8.33,3.83,CAD,1.16
11,1004,3,2015-01-01,2015-01-01,254117,80,450,1,2297.50,2067.75,761.20,CAD,1.16
12,1005,0,2015-01-01,2015-01-01,1160597,390,1303,10,152.00,152.00,69.90,GBP,0.64
13,1005,1,2015-01-01,2015-01-01,1160597,390,1705,2,4.82,4.82,2.21,GBP,0.64
14,1006,0,2015-01-01,2015-01-01,1895118,480,173,1,71.92,63.29,36.66,USD,1.00
15,1006,1,2015-01-01,2015-01-01,1895118,480,998,5,316.80,310.46,145.68,USD,1.00
16,1007,0,2015-01-01,2015-01-01,1008672,410,55,1,222.00,222.00,73.55,GBP,0.64
17,1007,1,2015-01-01,2015-01-01,1008672,410,1692,4,4.89,4.45,2.49,GBP,0.64
18,1007,2,2015-01-01,2015-01-01,1008672,410,95,1,50.55,50.04,25.77,GBP,0.64
19,1007,3,2015-01-01,2015-01-01,1008672,410,53,1,222.00,222.00,73.55,GBP,0.64
20,1007,4,2015-01-01,2015-01-01,1008672,410,1575,3,36.59,35.13,16.83,GBP,0.64
21,1007,5,2015-01-01,2015-01-01,1008672,410,1816,3,22.40,19.49,11.42,GBP,0.64
22,1008,0,2015-01-01,2015-01-01,1576121,530,574,1,272.50,247.97,138.93,USD,1.00
23,1008,1,2015-01-01,2015-01-01,1576121,530,2166,2,333.75,287.02,153.48,USD,1.00
24,1008,2,2015-01-01,2015-01-01,1576121,530,1581,2,131.40,131.40,43.54,USD,1.00